div:hover{
    border-width: 1px;
    border-style: solid;
    border-color: black;     
}
div:nth-last-child(5){
    background-color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div:nth-last-child(4){
    background-color: salmon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div:nth-last-child(3){
    background-color:green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
div:nth-last-child(2){
    background-color: blue;
    color: cornsilk ;
}
div:nth-last-child(1){
    background-color:yellow;
    color: black;
}